@charset "UTF-8";
body {
    font-family: "Lato", sans-serif;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas {
    height: 95%
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141c8b;
    overflow-x: hidden;
    transition: 0.2s;
    /* padding-top: 60px; */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #b3afaf;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu {
    background: #141c8b;
}

.span-menu {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.divInput {
    text-align: center;
}

.inputForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputPass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputError {
    border: 2px solid red;
    border-radius: 4px;
}

.errorSt {
    border: 2px solid rgb(185, 20, 20);
    border-radius: 4px;
    background-color: rgb(175, 18, 18);
    color: #fff;
}

.buttonSu {
    background-color: #141c8b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.divSuccess {
    background-color: rgb(41, 48, 119);
    text-align: center;
    color: white;
}

.div-message {
    background-color: rgb(84, 85, 87);
    text-align: center;
    color: white;
}

.p-class {
    margin: 0;
    text-align: justify;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.image-data {
    border: 5px solid;
    color: #059;
}

.hide-page {
    display: none;
}

.sidenav-sub a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.divSelect {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: 27px;
} 
.formSelect {
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    margin: 15px;
    border: 0;
    font-family: "Roboto", sans-serif;
}
.load_data_left {
    float:left;
    width: 60%;
    text-align: right;
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
}
.load_data_right {
    float:left;
    width: 40%;
    text-align: left;
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;    
}


.h3_anulation{
    text-align: center;
}

.button_load_data{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #141c8b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}