table {
    width:100%;
};
table, th, td {
    border: 1px solid #141c8b;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
.table_client tr:nth-child(even) {
    background-color: #eee;
}
.table_client tr:nth-child(odd) {
    background-color: #fff;
}
.table_client th {
    background-color: #141c8b;
    color: white;
}