.table_client tr:nth-child(even) {
    background-color: #eee;
}
.table_client tr:nth-child(odd) {
    background-color: #fff;
}
.table_client th {
    background-color: #141c8b;
    color: white;
}

table {

    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:hover td {
    border: 1px solid #ccc;
    background-color: #99a1a9;
 }